/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Souses';
  src: local("Souses"), url("../fonts/souses.woff2") format("woff2"), url("../fonts/souses.woff") format("woff"), url("../fonts/souses.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk 400';
  src: local("Vremena Grotesk"), local("VremenaGrotesk"), url("../fonts/vremenagrotesk.woff2") format("woff2"), url("../fonts/vremenagrotesk.woff") format("woff"), url("../fonts/vremenagrotesk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk 400 Italic';
  src: local("Vremena Grotesk Italic"), local("VremenaGroteskItalic"), url("../fonts/vremenagroteskitalic.woff2") format("woff2"), url("../fonts/vremenagroteskitalic.woff") format("woff"), url("../fonts/vremenagroteskitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk';
  src: local("Vremena Grotesk Medium"), local("VremenaGroteskMedium"), url("../fonts/vremenagroteskmedium.woff2") format("woff2"), url("../fonts/vremenagroteskmedium.woff") format("woff"), url("../fonts/vremenagroteskmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk Italic';
  src: local("Vremena Grotesk Medium Italic"), local("VremenaGroteskMediumItalic"), url("../fonts/vremenagroteskmediumitalic.woff2") format("woff2"), url("../fonts/vremenagroteskmediumitalic.woff") format("woff"), url("../fonts/vremenagroteskmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk Bold';
  src: local("Vremena Grotesk Bold"), local("VremenaGroteskBold"), url("../fonts/vremenagroteskbold.woff2") format("woff2"), url("../fonts/vremenagroteskbold.woff") format("woff"), url("../fonts/vremenagroteskbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk Bold Italic';
  src: local("Vremena Grotesk Bold Italic"), local("VremenaGroteskBoldItalic"), url("../fonts/vremenagroteskbolditalic.woff2") format("woff2"), url("../fonts/vremenagroteskbolditalic.woff") format("woff"), url("../fonts/vremenagroteskbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/* line 64, ../sass/screen.scss */
header {
  margin-top: 20px;
}
/* line 67, ../sass/screen.scss */
header .head-logo-wrap {
  padding-top: 12.7px;
}
/* line 71, ../sass/screen.scss */
header #header-logo {
  height: 100px;
}
/* line 75, ../sass/screen.scss */
header #header-title {
  vertical-align: bottom;
}
/* line 78, ../sass/screen.scss */
header #header-title span {
  display: block;
  font-family: 'Souses';
  font-size: 18px;
  font-style: normal;
  color: #2ECC71;
}
/* line 86, ../sass/screen.scss */
header #header-title span:first-child {
  font-size: 30px;
}
/* line 91, ../sass/screen.scss */
header #header-logo, header #header-title {
  display: inline-block;
}
/* line 95, ../sass/screen.scss */
header .head-info {
  display: flex;
  align-items: center;
}
/* line 99, ../sass/screen.scss */
header .head-info .date-time {
  font-family: "Vremena Grotesk";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  padding: 0px 15px 5px 15px;
  color: #3498db;
}
/* line 108, ../sass/screen.scss */
header .head-info .date-time:first-child {
  padding-left: 0;
}
/* line 112, ../sass/screen.scss */
header .head-info #head-fire-title {
  font-family: "Vremena Grotesk";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  padding: 0px 0px 5px 0px;
}
/* line 121, ../sass/screen.scss */
header .head-info #head-hot-link {
  padding: 5px 0px 0px 0px;
  font-family: "Vremena Grotesk";
  font-size: 16px;
  color: #2ECC71;
  text-decoration: underline;
}
/* line 129, ../sass/screen.scss */
header .head-info #head-hot-link:hover {
  text-decoration: none;
  color: #1E824C;
}
/* line 135, ../sass/screen.scss */
header #head-enter {
  overflow: hidden;
  padding-bottom: 6px;
}
/* line 139, ../sass/screen.scss */
header #head-enter .head-lk-link {
  font-family: "Vremena Grotesk";
  font-size: 16px;
}
/* line 143, ../sass/screen.scss */
header #head-enter .head-lk-link a {
  color: #3498db;
  border-bottom: 2px dotted #3498db;
}
/* line 148, ../sass/screen.scss */
header #head-enter .head-lk-link a:hover {
  border-bottom: none;
  text-decoration: none;
}
/* line 155, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #fff;
  border: 1.5px solid #1E824C;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  z-index: 1;
}
/* line 167, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block_active {
  display: block;
}
/* line 171, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block .btn {
  float: right;
}
/* line 176, ../sass/screen.scss */
header #head-enter .head-lk-enter__title {
  margin-top: 0;
}
/* line 182, ../sass/screen.scss */
header #head-enter .head-lk-search__search-block {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #fff;
  border: 1.5px solid #1E824C;
  border-radius: 15px;
  padding: 15px;
  width: 402px;
  z-index: 1;
}
/* line 194, ../sass/screen.scss */
header #head-enter .head-lk-search__search-block_active {
  display: block;
}
/* line 199, ../sass/screen.scss */
header #head-enter .head-lk-search__title {
  margin-top: 0;
}
/* line 203, ../sass/screen.scss */
header #head-enter .head-lk-search__input {
  width: 300px;
}
/* line 209, ../sass/screen.scss */
header .informer {
  margin-top: 15px;
  overflow: hidden;
}
/* line 212, ../sass/screen.scss */
header .informer .informer-link {
  display: flex;
  align-items: center;
  font-family: "Vremena Grotesk";
  font-size: 16px;
}
/* line 218, ../sass/screen.scss */
header .informer .informer-link a, header .informer .informer-link #header-temperature {
  color: #2ECC71;
  margin-right: 10px;
}
/* line 223, ../sass/screen.scss */
header .informer .informer-link #header-temperature {
  color: #3498db;
  margin-right: 0px;
}
/* line 228, ../sass/screen.scss */
header .informer .informer-link #weather {
  margin-right: 5px;
}
/* line 232, ../sass/screen.scss */
header .informer .informer-link .valuta {
  color: #6C7A89;
  margin-right: 10px;
}
/* line 236, ../sass/screen.scss */
header .informer .informer-link .valuta span {
  font-family: sans-serif;
  font-weight: bold;
  color: #3498db;
}
/* line 243, ../sass/screen.scss */
header .informer .informer-link .valuta:last-child {
  margin-left: 10px;
  margin-right: 0px;
}
/* line 250, ../sass/screen.scss */
header .header-last-col > div {
  display: flex;
  justify-content: flex-end;
}

/* line 257, ../sass/screen.scss */
.nav-green {
  background-color: #2ECC71;
  margin-top: 15px;
}
/* line 261, ../sass/screen.scss */
.nav-green .glyphicon-color {
  color: #fff;
}
/* line 265, ../sass/screen.scss */
.nav-green .nav-list-wrap {
  font-family: "Vremena Grotesk";
  font-weight: 500;
}
/* line 270, ../sass/screen.scss */
.nav-green .nav-list-wrap > .active > a, .nav-green .nav-list-wrap > .active .nav-list-wrap > .active > a:hover {
  background-color: #1E824C !important;
  color: #fff !important;
}
/* line 276, ../sass/screen.scss */
.nav-green .nav-list-wrap > li > a {
  color: #fff;
}
/* line 280, ../sass/screen.scss */
.nav-green .nav-list-wrap > li > a:hover {
  color: #1E824C;
}

/* line 288, ../sass/screen.scss */
main .home-content-title {
  font-family: "Souses";
  font-size: 28px;
}
/* line 292, ../sass/screen.scss */
main .home-content-title:first-letter {
  font-size: 36px;
  color: #2ECC71;
}

/* line 304, ../sass/screen.scss */
.home-news__hot {
  width: 480px;
  display: inline-block;
}
/* line 314, ../sass/screen.scss */
.home-news__link_hot {
  display: block;
  position: relative;
  margin: -68px 0 0 0;
  padding: 10px;
  width: 100%;
  height: 68px;
  background-color: rgba(46, 204, 113, 0.7);
}
/* line 324, ../sass/screen.scss */
.home-news__link_hot a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/* line 331, ../sass/screen.scss */
.home-news__link_wrap {
  width: 367.5px;
  margin-left: -4px;
  height: 272px;
  display: inline-block;
  vertical-align: top;
}
/* line 338, ../sass/screen.scss */
.home-news__link_wrap ul {
  list-style-type: none;
  padding: 0 0 0 0;
}
/* line 342, ../sass/screen.scss */
.home-news__link_wrap ul li {
  background-color: #2ECC71;
  height: 68px;
}
/* line 347, ../sass/screen.scss */
.home-news__link_wrap ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* line 359, ../sass/screen.scss */
.home-news__link_wrap ul li:hover {
  background-color: #1E824C;
}

/* line 369, ../sass/screen.scss */
.home-lk__wrap {
  height: 272px;
  background-color: #2ECC71;
  padding: 10px;
}
/* line 375, ../sass/screen.scss */
.home-lk__info {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.7;
}
/* line 384, ../sass/screen.scss */
.home-lk__info img {
  width: 100px;
  float: right;
}
/* line 390, ../sass/screen.scss */
.home-lk__links {
  color: #3498db;
  font-size: 15px;
  font-weight: 600;
  padding-top: 15px;
  height: 150px;
  text-align: right;
}
/* line 398, ../sass/screen.scss */
.home-lk__links_exit {
  margin-top: 50px;
  color: red;
}
/* line 403, ../sass/screen.scss */
.home-lk__links a {
  display: block;
}
