/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Souses';
  src: local("Souses"), url("../fonts/souses.woff2") format("woff2"), url("../fonts/souses.woff") format("woff"), url("../fonts/souses.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk 400';
  src: local("Vremena Grotesk"), local("VremenaGrotesk"), url("../fonts/vremenagrotesk.woff2") format("woff2"), url("../fonts/vremenagrotesk.woff") format("woff"), url("../fonts/vremenagrotesk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk 400 Italic';
  src: local("Vremena Grotesk Italic"), local("VremenaGroteskItalic"), url("../fonts/vremenagroteskitalic.woff2") format("woff2"), url("../fonts/vremenagroteskitalic.woff") format("woff"), url("../fonts/vremenagroteskitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk';
  src: local("Vremena Grotesk Medium"), local("VremenaGroteskMedium"), url("../fonts/vremenagroteskmedium.woff2") format("woff2"), url("../fonts/vremenagroteskmedium.woff") format("woff"), url("../fonts/vremenagroteskmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk Italic';
  src: local("Vremena Grotesk Medium Italic"), local("VremenaGroteskMediumItalic"), url("../fonts/vremenagroteskmediumitalic.woff2") format("woff2"), url("../fonts/vremenagroteskmediumitalic.woff") format("woff"), url("../fonts/vremenagroteskmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Vremena Grotesk Bold';
  src: local("Vremena Grotesk Bold"), local("VremenaGroteskBold"), url("../fonts/vremenagroteskbold.woff2") format("woff2"), url("../fonts/vremenagroteskbold.woff") format("woff"), url("../fonts/vremenagroteskbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Vremena Grotesk Bold Italic';
  src: local("Vremena Grotesk Bold Italic"), local("VremenaGroteskBoldItalic"), url("../fonts/vremenagroteskbolditalic.woff2") format("woff2"), url("../fonts/vremenagroteskbolditalic.woff") format("woff"), url("../fonts/vremenagroteskbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/* line 69, ../sass/screen.scss */
header {
  margin-top: 20px;
}
/* line 72, ../sass/screen.scss */
header .head-logo-wrap {
  padding-top: 12.7px;
}
/* line 76, ../sass/screen.scss */
header #header-logo {
  height: 100px;
}
/* line 80, ../sass/screen.scss */
header #header-title {
  vertical-align: bottom;
}
/* line 83, ../sass/screen.scss */
header #header-title span {
  display: block;
  font-family: 'Souses';
  font-size: 18px;
  font-style: normal;
  color: #2ECC71;
}
/* line 91, ../sass/screen.scss */
header #header-title span:first-child {
  font-size: 30px;
}
/* line 96, ../sass/screen.scss */
header #header-logo, header #header-title {
  display: inline-block;
}
/* line 100, ../sass/screen.scss */
header .head-info {
  display: flex;
  align-items: center;
}
/* line 104, ../sass/screen.scss */
header .head-info .date-time {
  font-family: "Vremena Grotesk";
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  padding: 0px 15px 5px 15px;
  color: #3498db;
}
/* line 113, ../sass/screen.scss */
header .head-info .date-time:first-child {
  padding-left: 0;
}
/* line 117, ../sass/screen.scss */
header .head-info #head-fire-title {
  font-family: "Vremena Grotesk";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  padding: 0px 0px 5px 0px;
}
/* line 126, ../sass/screen.scss */
header .head-info #head-hot-link {
  padding: 5px 0px 0px 0px;
  font-family: "Vremena Grotesk";
  font-size: 16px;
  color: #2ECC71;
  text-decoration: underline;
}
/* line 134, ../sass/screen.scss */
header .head-info #head-hot-link:hover {
  text-decoration: none;
  color: #1E824C;
}
/* line 140, ../sass/screen.scss */
header #head-enter {
  overflow: hidden;
  padding-bottom: 6px;
}
/* line 144, ../sass/screen.scss */
header #head-enter .head-lk-link {
  font-family: "Vremena Grotesk";
  font-size: 16px;
}
/* line 148, ../sass/screen.scss */
header #head-enter .head-lk-link a {
  color: #3498db;
  border-bottom: 2px dotted #3498db;
}
/* line 153, ../sass/screen.scss */
header #head-enter .head-lk-link a:hover {
  border-bottom: none;
  text-decoration: none;
}
/* line 160, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #fff;
  border: 1.5px solid #1E824C;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  z-index: 1;
}
/* line 172, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block_active {
  display: block;
}
/* line 176, ../sass/screen.scss */
header #head-enter .head-lk-enter__enter-block .btn {
  float: right;
}
/* line 181, ../sass/screen.scss */
header #head-enter .head-lk-enter__title {
  margin-top: 0;
}
/* line 187, ../sass/screen.scss */
header #head-enter .head-lk-search__search-block {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: #fff;
  border: 1.5px solid #1E824C;
  border-radius: 15px;
  padding: 15px;
  width: 402px;
  z-index: 1;
}
/* line 199, ../sass/screen.scss */
header #head-enter .head-lk-search__search-block_active {
  display: block;
}
/* line 204, ../sass/screen.scss */
header #head-enter .head-lk-search__title {
  margin-top: 0;
}
/* line 208, ../sass/screen.scss */
header #head-enter .head-lk-search__input {
  width: 300px;
}
/* line 214, ../sass/screen.scss */
header .informer {
  margin-top: 15px;
  overflow: hidden;
}
/* line 217, ../sass/screen.scss */
header .informer .informer-link {
  display: flex;
  align-items: center;
  font-family: "Vremena Grotesk";
  font-size: 16px;
}
/* line 223, ../sass/screen.scss */
header .informer .informer-link a, header .informer .informer-link #header-temperature {
  color: #2ECC71;
  margin-right: 10px;
}
/* line 228, ../sass/screen.scss */
header .informer .informer-link #header-temperature {
  color: #3498db;
  margin-right: 0px;
}
/* line 233, ../sass/screen.scss */
header .informer .informer-link #weather {
  margin-right: 5px;
}
/* line 237, ../sass/screen.scss */
header .informer .informer-link .valuta {
  color: #6C7A89;
  margin-right: 10px;
}
/* line 241, ../sass/screen.scss */
header .informer .informer-link .valuta span {
  font-family: sans-serif;
  font-weight: bold;
  color: #3498db;
}
/* line 248, ../sass/screen.scss */
header .informer .informer-link .valuta:last-child {
  margin-left: 10px;
  margin-right: 0px;
}
/* line 255, ../sass/screen.scss */
header .header-last-col > div {
  display: flex;
  justify-content: flex-end;
}

/* line 262, ../sass/screen.scss */
.nav-green {
  background-color: #2ECC71;
  margin-top: 15px;
}
/* line 266, ../sass/screen.scss */
.nav-green .glyphicon-color {
  color: #fff;
}
/* line 270, ../sass/screen.scss */
.nav-green .nav-list-wrap {
  font-family: "Vremena Grotesk";
  font-weight: 500;
}
/* line 275, ../sass/screen.scss */
.nav-green .nav-list-wrap > .active > a, .nav-green .nav-list-wrap > .active .nav-list-wrap > .active > a:hover {
  background-color: #1E824C !important;
  color: #fff !important;
}
/* line 281, ../sass/screen.scss */
.nav-green .nav-list-wrap > li > a {
  color: #fff;
}
/* line 285, ../sass/screen.scss */
.nav-green .nav-list-wrap > li > a:hover {
  color: #1E824C;
}

/* line 293, ../sass/screen.scss */
main .home-content-title {
  font-family: "Souses";
  font-size: 28px;
}
/* line 297, ../sass/screen.scss */
main .home-content-title:first-letter {
  font-size: 36px;
  color: #2ECC71;
}
/* line 302, ../sass/screen.scss */
main .home-content-title_blue {
  font-family: "Souses";
  font-size: 28px;
}
/* line 306, ../sass/screen.scss */
main .home-content-title_blue:first-letter {
  font-size: 36px;
  color: #3498db;
}
/* line 312, ../sass/screen.scss */
main .home-content-title_black-blue {
  font-family: "Souses";
  font-size: 28px;
}
/* line 316, ../sass/screen.scss */
main .home-content-title_black-blue:first-letter {
  font-size: 36px;
  color: #1F3A93;
}
/* line 322, ../sass/screen.scss */
main .home-content-title_black-purpur {
  font-family: "Souses";
  font-size: 28px;
}
/* line 326, ../sass/screen.scss */
main .home-content-title_black-purpur:first-letter {
  font-size: 36px;
  color: #8E44AD;
}
/* line 332, ../sass/screen.scss */
main .home-content-title_pink {
  font-family: "Souses";
  font-size: 28px;
}
/* line 336, ../sass/screen.scss */
main .home-content-title_pink:first-letter {
  font-size: 36px;
  color: #F62459;
}
/* line 342, ../sass/screen.scss */
main .home-content-title_orange {
  font-family: "Souses";
  font-size: 28px;
}
/* line 346, ../sass/screen.scss */
main .home-content-title_orange:first-letter {
  font-size: 36px;
  color: #F9690E;
}
/* line 352, ../sass/screen.scss */
main .home-content-title_red {
  font-family: "Souses";
  font-size: 28px;
}
/* line 356, ../sass/screen.scss */
main .home-content-title_red:first-letter {
  font-size: 36px;
  color: #F22613;
}

/* line 370, ../sass/screen.scss */
.home-news__hot {
  width: 480px;
  display: inline-block;
}
/* line 380, ../sass/screen.scss */
.home-news__link_hot {
  display: block;
  position: relative;
  margin: -68px 0 0 0;
  padding: 10px;
  width: 100%;
  height: 68px;
  background-color: rgba(46, 204, 113, 0.7);
}
/* line 390, ../sass/screen.scss */
.home-news__link_hot a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/* line 397, ../sass/screen.scss */
.home-news__link_wrap {
  width: 367.5px;
  margin-left: -4px;
  height: 272px;
  display: inline-block;
  vertical-align: top;
}
/* line 404, ../sass/screen.scss */
.home-news__link_wrap ul {
  list-style-type: none;
  padding: 0 0 0 0;
}
/* line 408, ../sass/screen.scss */
.home-news__link_wrap ul li {
  background-color: #2ECC71;
  height: 68px;
}
/* line 413, ../sass/screen.scss */
.home-news__link_wrap ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
/* line 425, ../sass/screen.scss */
.home-news__link_wrap ul li:hover {
  background-color: #1E824C;
}

/* line 435, ../sass/screen.scss */
.home-goroskop__wrap {
  background-color: #3498db;
  height: 400px;
}
/* line 439, ../sass/screen.scss */
.home-goroskop__wrap img {
  margin: 0  auto;
}
/* line 444, ../sass/screen.scss */
.home-goroskop__caption {
  right: 0;
  left: 0;
  font-family: "Vremena Grotesk";
}
/* line 450, ../sass/screen.scss */
.home-goroskop__indicators {
  bottom: 0;
}

/* line 456, ../sass/screen.scss */
.home-marketing_baner-1 {
  margin-top: 28px;
  width: 847.5px;
  height: 100px;
}

/* line 464, ../sass/screen.scss */
.home__level-2 {
  margin-top: 10px;
}
/* line 468, ../sass/screen.scss */
.home__level-3 {
  margin-top: 10px;
}

/* line 474, ../sass/screen.scss */
.home-directory__wrap {
  background-color: #8E44AD;
  padding: 15px;
}
/* line 478, ../sass/screen.scss */
.home-directory__wrap ul {
  list-style-type: none;
  padding: 0 0 0 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin: 0;
}
/* line 487, ../sass/screen.scss */
.home-directory__wrap a {
  display: block;
  font-family: "Vremena Grotesk";
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  color: #fff;
  padding: 4.3px 0;
}

/* line 502, ../sass/screen.scss */
.home-blogs__post_title {
  margin-top: 0;
}
/* line 505, ../sass/screen.scss */
.home-blogs__post_title a {
  color: #F62459;
  font-family: "Vremena Grotesk";
  font-weight: bold;
}
/* line 512, ../sass/screen.scss */
.home-blogs__post article {
  font-family: "Vremena Grotesk";
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 10px;
}
/* line 522, ../sass/screen.scss */
.home-blogs__post_info .glyphicon {
  color: #F62459;
  font-size: 24px;
}
/* line 526, ../sass/screen.scss */
.home-blogs__post_info .glyphicon time {
  font-family: "Souses";
  font-size: 16px;
  padding: 5px;
}
/* line 532, ../sass/screen.scss */
.home-blogs__post_info .glyphicon a {
  font-family: "Vremena Grotesk";
  font-size: 16px;
  color: #F62459;
  padding-left: 5px;
}
/* line 539, ../sass/screen.scss */
.home-blogs__post_info .glyphicon:last-child {
  float: right;
}

/* line 548, ../sass/screen.scss */
.home-map__wrap {
  width: 100%;
  height: 630.7px;
}

/* line 558, ../sass/screen.scss */
.home-ads__post_title {
  margin-top: 0;
}
/* line 561, ../sass/screen.scss */
.home-ads__post_title a {
  color: #F9690E;
  font-family: "Vremena Grotesk";
  font-weight: bold;
}
/* line 568, ../sass/screen.scss */
.home-ads__post img {
  display: inline-block;
  width: 200px;
  height: 113px;
}
/* line 574, ../sass/screen.scss */
.home-ads__post article {
  display: inline-block;
  width: 60%;
  font-family: "Vremena Grotesk";
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  vertical-align: top;
}
/* line 584, ../sass/screen.scss */
.home-ads__post_info {
  width: 100%;
  margin-top: 5px;
}
/* line 588, ../sass/screen.scss */
.home-ads__post_info .glyphicon {
  color: #F9690E;
  font-size: 24px;
}
/* line 592, ../sass/screen.scss */
.home-ads__post_info .glyphicon time {
  font-family: "Souses";
  font-size: 16px;
  padding: 5px;
}
/* line 598, ../sass/screen.scss */
.home-ads__post_info .glyphicon a {
  font-family: "Vremena Grotesk";
  font-size: 16px;
  color: #F9690E;
  padding-left: 5px;
}

/* line 609, ../sass/screen.scss */
.footer {
  background-color: #1E824C;
  margin-top: 40px;
}
/* line 613, ../sass/screen.scss */
.footer__title {
  color: #fff;
  font-family: "Souses";
  font-size: 18px;
}
/* line 619, ../sass/screen.scss */
.footer__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 624, ../sass/screen.scss */
.footer__menu li {
  padding: 5px 0;
}
/* line 627, ../sass/screen.scss */
.footer__menu li a {
  font-family: "Vremena Grotesk";
  color: #fff;
}
/* line 634, ../sass/screen.scss */
.footer__col {
  text-align: center;
}
/* line 638, ../sass/screen.scss */
.footer .footer-logo-wrap {
  padding-top: 12.7px;
}
/* line 641, ../sass/screen.scss */
.footer .footer-logo-wrap img {
  display: inline-block;
}
/* line 646, ../sass/screen.scss */
.footer #footer-logo {
  height: 70px;
}
/* line 650, ../sass/screen.scss */
.footer #footer-title {
  vertical-align: bottom;
  display: inline-block;
}
/* line 654, ../sass/screen.scss */
.footer #footer-title span {
  display: block;
  font-family: 'Souses';
  font-size: 12px;
  font-style: normal;
  color: #fff;
}
/* line 662, ../sass/screen.scss */
.footer #footer-title span:first-child {
  font-size: 18px;
}
