/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

//Цвета
$green-header-title-hover: #1E824C;
$green-header-title: #2ECC71;
$blue: #3498db;
$black-blue: #1F3A93;
$black-purpur: #8E44AD;
$nav-link-color: #fff;
$pink: #F62459;
$red: #F22613;
$orange: #F9690E;
//Цвета

//Шрифты
@font-face {
    font-family: 'Souses';
    src: local('Souses'), url('../fonts/souses.woff2') format('woff2'), url('../fonts/souses.woff') format('woff'), url('../fonts/souses.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Vremena Grotesk 400';
    src: local('Vremena Grotesk'), local('VremenaGrotesk'), url('../fonts/vremenagrotesk.woff2') format('woff2'), url('../fonts/vremenagrotesk.woff') format('woff'), url('../fonts/vremenagrotesk.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Vremena Grotesk 400 Italic';
    src: local('Vremena Grotesk Italic'), local('VremenaGroteskItalic'), url('../fonts/vremenagroteskitalic.woff2') format('woff2'), url('../fonts/vremenagroteskitalic.woff') format('woff'), url('../fonts/vremenagroteskitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Vremena Grotesk';
    src: local('Vremena Grotesk Medium'), local('VremenaGroteskMedium'), url('../fonts/vremenagroteskmedium.woff2') format('woff2'), url('../fonts/vremenagroteskmedium.woff') format('woff'), url('../fonts/vremenagroteskmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Vremena Grotesk Italic';
    src: local('Vremena Grotesk Medium Italic'), local('VremenaGroteskMediumItalic'), url('../fonts/vremenagroteskmediumitalic.woff2') format('woff2'), url('../fonts/vremenagroteskmediumitalic.woff') format('woff'), url('../fonts/vremenagroteskmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Vremena Grotesk Bold';
    src: local('Vremena Grotesk Bold'), local('VremenaGroteskBold'), url('../fonts/vremenagroteskbold.woff2') format('woff2'), url('../fonts/vremenagroteskbold.woff') format('woff'), url('../fonts/vremenagroteskbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Vremena Grotesk Bold Italic';
    src: local('Vremena Grotesk Bold Italic'), local('VremenaGroteskBoldItalic'), url('../fonts/vremenagroteskbolditalic.woff2') format('woff2'), url('../fonts/vremenagroteskbolditalic.woff') format('woff'), url('../fonts/vremenagroteskbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

$vremena: 'Vremena Grotesk';
$souses: 'Souses';
//Шрифты

//Шапка
header {
	margin-top: 20px;

	.head-logo-wrap{
		padding-top: 12.7px;
	}

	#header-logo {
		height: 100px;
	}

	#header-title {
		vertical-align: bottom;

		span {
			display: block;
			font-family: 'Souses';
			font-size: 18px;
			font-style: normal;
			color: $green-header-title;
		}

		span:first-child{
			font-size: 30px;
		}
	}

	#header-logo, #header-title {
		display: inline-block;
	}

	.head-info {
		display: flex;
		align-items: center;

		.date-time {
			font-family: $vremena;
			font-size: 18px;
			font-weight: 500;
			font-style: normal;
			padding: 0px 15px 5px 15px;
			color: $blue;		
		}

		.date-time:first-child {
			padding-left: 0;
		}

		#head-fire-title {
			font-family: $vremena;
			font-size: 18px;
			font-weight: 700;
			font-style: normal;
			padding: 0px 0px 5px 0px;
			//color: $blue;
		}

		#head-hot-link {
			padding: 5px 0px 0px 0px;
			font-family: $vremena;
			font-size: 16px;
			color: $green-header-title;
			text-decoration: underline;
		}

		#head-hot-link:hover {
			text-decoration: none;
			color: $green-header-title-hover;
		}
	}

	#head-enter {
		overflow: hidden;
		padding-bottom: 6px;
		
		.head-lk-link {
			font-family: $vremena;
			font-size: 16px;

			a {
				color: $blue;
				border-bottom: 2px dotted $blue;
			}

			a:hover {
				border-bottom: none;
				text-decoration: none;
			}
		}

		.head-lk-enter{
			&__enter-block{
				display: none;
				position: absolute;
				top: 30px; 
				right: 10px;
				background-color: #fff;
				border: 1.5px solid $green-header-title-hover;
				border-radius: 15px;
				padding: 15px;
				width: 300px;
				z-index: 1;
				
				&_active{
					display: block;
				}

				.btn{
					float: right;
				}
			}

			&__title{
				margin-top: 0;
			}
		}

		.head-lk-search{
			&__search-block{
				display: none;
				position: absolute;
				top: 30px; 
				right: 10px;
				background-color: #fff;
				border: 1.5px solid $green-header-title-hover;
				border-radius: 15px;
				padding: 15px;
				width: 402px;
				z-index: 1;

				&_active{
					display: block;
				}
			}

			&__title{
				margin-top: 0;
			}

			&__input{
				width: 300px;
			}
		}
	}

	.informer {
		margin-top: 15px;
		overflow: hidden;
		.informer-link {
			display: flex;
			align-items: center;
			font-family: $vremena;
			font-size: 16px;

			a, #header-temperature {
				color: $green-header-title;
				margin-right: 10px;
			}

			#header-temperature {
				color: $blue;
				margin-right: 0px;
			}
			
			#weather {
				margin-right: 5px;
			}

			.valuta {
				color: #6C7A89;
				margin-right: 10px;

				span {
					font-family: sans-serif;
					font-weight: bold;
					color: $blue;
				}
			}

			.valuta:last-child {
				margin-left: 10px;
				margin-right: 0px;
			}
		}
	}

	.header-last-col > div{
		display: flex;
		//align-items: center;
		justify-content: flex-end;
	}
}

.nav-green {
	background-color: $green-header-title;
	margin-top: 15px;

	.glyphicon-color {
		color: $nav-link-color;
	}

	.nav-list-wrap {
		font-family: $vremena;
		font-weight: 500;

		>.active {
			> a, .nav-list-wrap > .active > a:hover {
				background-color: $green-header-title-hover !important;
				color: $nav-link-color !important;
			}
		}

		> li > a {
			color: $nav-link-color;
		}

		> li > a:hover {
			color: $green-header-title-hover;
		}
	}

}

main {
	.home-content-title {
		font-family: $souses;
		font-size: 28px;

		&:first-letter{
			font-size: 36px;
			color: $green-header-title;
		}

		&_blue{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $blue;
			}
		}

		&_black-blue{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $black-blue;
			}
		}

		&_black-purpur{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $black-purpur;
			}
		}

		&_pink{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $pink;
			}
		}

		&_orange{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $orange;
			}
		}

		&_red{
			font-family: $souses;
			font-size: 28px;
			
			&:first-letter{
				font-size: 36px;
				color: $red;
			}
		}
	}

}
.home-news{

	&__wrap{
		
	}

	&__hot{
		width: 480px;
		display: inline-block;
		// img{
		// 	z-index: 1;
		// }
	}

	&__link{

		&_hot{

			display: block;
			position: relative;
			margin: -68px 0 0 0;
			padding: 10px;
			width: 100%;
			height: 68px;
			background-color: rgba(46, 204, 113, 0.7);

			a{
				color: #fff;
				font-size: 16px;
				font-weight: 600;
			}
		}

		&_wrap{
			width: 367.5px;
			margin-left: -4px;
			height: 272px;
			display: inline-block;
			vertical-align: top;

			ul{
				list-style-type: none;
				padding: 0 0 0 0;

				li{
					background-color: $green-header-title;
					//padding: 10.7px 15px;
					height: 68px;

					a{
						color: #fff;
						font-size: 16px;
						font-weight: 600;
						display: block;
						width: 100%;
						height: 100%;
						padding: 10px;

					}
				}

				li:hover{
					background-color: $green-header-title-hover;
				}
			}
		}
	}
}

.home-goroskop{

	&__wrap{
		background-color: $blue;
		height: 400px;

		img{
			margin: 0  auto;
		}
	}

	&__caption{
		right: 0;
		left: 0;
		font-family: $vremena;
	}

	&__indicators{
		bottom: 0;
	}
}

.home-marketing{
	&_baner-1{
		margin-top: 28px;
		width: 847.5px;
		height: 100px;
	}
}

.home{
	&__level-2{
		margin-top: 10px;
	}

	&__level-3{
		margin-top: 10px;
	}
}

.home-directory{
	&__wrap{
		background-color: $black-purpur;
		padding: 15px;
		
		ul{
				list-style-type: none;
				padding: 0 0 0 0;
				-webkit-column-count:2;  
    			-moz-column-count:2;  
    			column-count:2;
    			margin: 0;
		}

		a{
			display: block;
			font-family: $vremena;
			font-weight: normal;
			font-size: 18px;
			font-style: normal;
			color: #fff;
			padding: 4.3px 0;
		}
	}
}

.home-blogs{
	&__post{

		&_title{
			margin-top: 0;

			a{
				color: $pink;
				font-family: $vremena;
				font-weight: bold;
			}
		}

		article{
			font-family: $vremena;
			font-weight: normal;
			font-size: 15px;
			line-height: 1;
			margin-bottom: 10px;
		}

		&_info{

			.glyphicon{
				color: $pink;
				font-size: 24px;

				time{
					font-family: $souses;
					font-size: 16px;
					padding: 5px;
				}

				a{
					font-family: $vremena;
					font-size: 16px;
					color: $pink;
					padding-left: 5px;
				}

				&:last-child{
					float:right;
				}
			}			
		}
	}
}

.home-map{
	&__wrap{
		width: 100%;
		height: 630.7px;
	}
}

.home-ads{

	&__post{
		&_title{
			margin-top: 0;

			a{
				color: $orange;
				font-family: $vremena;
				font-weight: bold;
			}
		}

		img{
			display: inline-block;
			width: 200px;
			height: 113px;
		}

		article{
			display: inline-block;
			width: 60%;
			font-family: $vremena;
			font-weight: normal;
			font-size: 15px;
			line-height: 1;
			vertical-align: top;
		}

		&_info{
			width: 100%;
			margin-top: 5px;

			.glyphicon{
				color: $orange;
				font-size: 24px;

				time{
					font-family: $souses;
					font-size: 16px;
					padding: 5px;
				}

				a{
					font-family: $vremena;
					font-size: 16px;
					color: $orange;
					padding-left: 5px;
				}
			}			
		}
	}
}